aiodns==4.0.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
ast-comments==1.2.3
attrs==25.4.0
build==1.4.0
cachetools==6.2.6
ccxt==4.5.35
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
coincurve==21.0.0
coverage==7.13.2
cryptography==46.0.4
fastapi==0.128.0
freqtrade==2026.1
freqtrade-client==2026.1
frozenlist==1.8.0
ft-pandas-ta==0.3.16
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.11
iniconfig==2.3.0
janus==2.0.0
jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
librt==0.7.8
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
multidict==6.7.1
mypy==1.19.1
mypy-extensions==1.1.0
numpy==2.4.2
orjson==3.11.6
packaging==26.0
pandas==2.3.3
pathspec==1.0.4
pip==26.0
pluggy==1.6.0
prompt-toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
psycopg2-binary==2.9.10
pyarrow==23.0.0
pycares==5.0.1
pycoingecko==3.2.0
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pygments==2.19.2
pyjwt==2.11.0
pyproject-hooks==1.2.0
pytest==9.0.2
pytest-bdd==8.1.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-rapidjson==1.23
python-telegram-bot==22.6
pytz==2025.2
questionary==2.1.1
referencing==0.37.0
requests==2.32.5
rich==14.3.2
rpds-py==0.30.0
ruff==0.14.14
schedule==1.2.2
sdnotify==0.3.2
setuptools==65.5.0
six==1.17.0
sqlalchemy==2.0.46
starlette==0.50.0
ta-lib==0.6.8
tabulate==0.9.0
technical==1.5.4
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.40.0
wcwidth==0.5.3
websocket-client==1.8.0
websockets==16.0
wheel==0.46.3
yarl==1.22.0
